body {
  margin: 0;
  text-align: center;
  font-family: 'Roboto', cursive;
  color: #40514E;
  box-sizing: border-box;
}

p {
  font-size: 1.1rem;
}

h1 {
  color: #66BFBF;
  margin: 50px auto 0 auto;
  font-family: 'Handlee', cursive;
  font-size: 2rem;
  max-width: 100%;
}

h2 {
  color: #66BFBF;
  font-family: 'Handlee', cursive;
  font-size: 1.4rem;
}

h3 {
  color: #11999E;
  font-family: 'Handlee', cursive;
  font-size: 1rem;
  text-align: left;
}

a {
  color: #11999E;
  text-decoration: none;
}

a:hover {
  color: #fc5185;
}

.slogan {
  font-weight: lighter;
}

.mountain {
  position: relative;
  top: 4px;
  bottom: 0;
}

.top-container {
  background-color: #f5f5f5;
  position: relative;
  padding-top: 100px;
}

.bottom-cloud {
  position: absolute;
  left: 400px;
  bottom: 300px;
}

.top-cloud {
  position: absolute;
  top: 50px;
  right: 400px;
}

.middle-container {
  padding-top: 100px;
  margin: auto;
}

.skill-row {
  width: 70%;
  margin: 120px auto;
}

.webdev, .python, .photoshop, .gamedev, .translator {
  display: block;
  width: 20%;
  text-align: left;
}

.img-float-left {
  float: left;
  margin-right: 2rem;
}

.img-float-right {
  float: right;
  margin-left: 2rem;
}

.skill-row p {
  text-align: left;
  line-height: 2;
}

.profile {
  width: 70%;
  margin: auto;
}

.contact-slogan {
  text-align: center;
}

hr {
  border-style: dotted none none none;
  width: 10%;
  border-width: 10px;
  color: #EAF6F6;
  margin: 100px auto;
}

.btn {
  background: #66BFBF;
  background-image: -webkit-linear-gradient(top, #66BFBF, #11999E);
  background-image: -moz-linear-gradient(top, #66BFBF, #11999E);
  background-image: -ms-linear-gradient(top, #66BFBF, #11999E);
  background-image: -o-linear-gradient(top, #66BFBF, #11999E);
  background-image: linear-gradient(to bottom, #66BFBF, #11999E);
  -webkit-border-radius: 17;
  -moz-border-radius: 17;
  border-radius: 17px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #7fceff;
  background-image: -webkit-linear-gradient(top, #7fceff, #8a8aff);
  background-image: -moz-linear-gradient(top, #7fceff, #8a8aff);
  background-image: -ms-linear-gradient(top, #7fceff, #8a8aff);
  background-image: -o-linear-gradient(top, #7fceff, #8a8aff);
  background-image: linear-gradient(to bottom, #7fceff, #8a8aff);
  text-decoration: none;
}

.bottom-container {
  margin-top: 100px;
  margin-bottom: 0;
  background-color: #66BFBF;
  padding: 50px 0;
  padding-bottom: 20px;
}

.bottom-container p {
  margin: 0;
}

.bottom-container a {
  font-size: 1.4rem;
  padding: 0 1.5rem;
  color: #11999E;
}

.bottom-container a:hover {
  color: #EAF6F6;
}

.copyright {
  padding-top: 1.2rem;
}

em {
  color: #fc5185;
  font-style: normal;
  font-weight: bold;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

img {
  max-width: 100%;
}
